.hero {
    padding-top: 120px;
    padding-bottom: 222px;
    position: relative;
    background-repeat: no-repeat;
    background-image: url('../img/hero_img_des.jpg');
    background-position: center;
    background-size: cover;
    z-index: -1;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        z-index: 0;
        position: absolute;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.20) -13.19%, rgba(0, 0, 0, 0.85) 94.01%);
    }

    .hero__content {
        position: relative;
        z-index: 10;
        max-width: 537px;
        text-align: center;
        margin: 0 auto;
    }


    .hero__title {
    color: #fff;
font-size: 56px;
font-weight: 700;
line-height: 120%; /* 67.2px */
text-transform: uppercase;
margin-bottom: 20px;
    }
}

.hero__text {
    color: #fff;
font-size: 18px;
font-weight: 500;
line-height: 150%;
margin-bottom: 50px;
}

.hero__btn {
    color: #fff;
font-size: 16px;
font-weight: 700;
line-height: 100%; 
    padding: 22px 56px;
    background-color: #AE7B3C;
box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 1000px) {
    .hero {
        background-image: url('../img/hero_img_tab.jpg');
    }
    
}

@media screen and (max-width: 640px) {
    .hero {
              background-image: url('../img/hero_img_tab.jpg');
    }
    
}

@media screen and (max-width: 530px) {
    .hero__content .hero__title {
        color: #fff;
        font-size: 28px;
        font-weight: 700;
        line-height: 120%;
        text-transform: uppercase;  
     }

}